@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");
*{
  margin: 0;
  padding: 0;
  background-color: #fce5fc;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
  

.content{  
  border-radius: 40px;        
  margin: 80px;              
  padding: 1rem;
  min-height: 90vh;  /* Make sure it fills at least one screen height */
  box-shadow: 0 0 0 50px #ffe2f5; 
}
header {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1000;
      padding: 15px;
      margin-bottom: 0;
      font-weight: 200;
    }
navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: 0;
      padding: 0; 
      font-family: "Rum Raisin", sans-serif;
    }
.links {
      display: flex;
      gap: 20px;
      background-color: #BE9BCC;
    }
.links a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      transition: color 0.3s ease;
    }
.links a:hover {
      color: #c9a0dc;
    }
