@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


body{
  overflow-x: hidden;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #fce5fc;
  overflow-x: hidden;
  min-height: 100vh;
}
  
.home{
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 8rem;
}
.home-img img{
  position: relative;
  width: 60%;
  height: 60%;
  border-color: #A287A8;
}
.home-content{  
  border-radius: 40px;        
  margin: 0px;              
  padding: 1rem;
  min-height: 90vh;  
  justify-content: center;
  align-items: center;
}
header{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 100;
      padding: 15px;
      margin-bottom: 0;
      font-weight: 200;
      display: flex;
      justify-content: space-between;
}

nav{
      font-family: "Rum Raisin", sans-serif;
      display: flex;
      gap: 15px;
      margin-left: 4rem;
}
nav a{
      color: purple;
      text-decoration: none;
      font-size: 18px;
      transition: color 0.3s ease;
}
nav a:hover {
      color: #c9a0dc;
    }
.home-content_2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.times{
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #BE99C2;
  padding: 2em;
  margin-top: 4rem;
  border-radius: 20px;
}

.about{
  display: flex;
  margin: 80px;              
  padding: 1rem;
  border-radius: 20px;
  background-color: #A287A8;
}
