*{
  margin: 0;
  padding: 0;
  background-color: #ffd2e3;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
header{
  position: relative;
  justify-content: space-between;
  background: none;
  display: flex;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1 rem 9%;
  margin-top: 20px;
  bottom-padding: 1 rem 5%;  
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  padding-bottom: 1rem;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
  

.content{  
  border-radius: 40px;        /* Rounded inner border */
  margin: 80px;               /* Creates the border space */
  padding: 1rem;
  min-height: 90vh;  /* Make sure it fills at least one screen height */
  box-shadow: 0 0 0 50px #ffe2f5; 
}
